<!DOCTYPE HTML>
<!--
	Urban by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Blaze Fugina</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="index.html">Blaze Fugina</div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="generic.html">My Experience</a></li>
					<!-- <li><a href="elements.html">Elements</a></li> -->
				</ul>
			</nav>

		<!-- Main -->
			<div id="main">

				<!-- Section -->
					<section class="wrapper">
						<div class="inner">
							<header class="align-center">
								<h1>My Experience</h1>
								<p>Find out a little more about my experience as a full-stack software developer.</p>
							</header>
							<div class="flex flex-2">
								<div class="col col2">
									<h3>A little about me</h3>
									<p>In my current job at Turnkey Corrections, I work as a full-stack developer focused on software in the corrections industry.</p>
									<p>Our organization's newest front-end software is developed with the latest versions of Angular. Our back-end code is written in GoLang, and our database management system is MySQL. We stay true with Angular in mobile development, as well, using the Ionic framework for IOS and Android development.</p>
								</div>
								<div class="col col1 first">
									<div class="image round fit">
										<a href="generic.html" class="link"><img src="images/Blaze_Fugina.png" alt="" /></a>
									</div>
								</div>
							</div>
							<p>I have also played around with other front-end frameworks. As an avid cross-country ski racer, the side project I use the most is my Nordic Race Track application. The application was developed in React, with a back-end of Node.js, Express, and MongoDB.</p>
							<p>Working as a full-stack developer in my day job can be a challenge; you do not have much time to specialize in one area of software. However, it is rewarding to know you are working with every part of a program. If you have a side-project needing help from an experienced developer like myself, do not hesitate to reach out. You can find some of my contact information below.</p>
						</div>
					</section>

				<!-- Section -->
					<!-- <section class="wrapper style1">
						<div class="inner">
							<header class="align-center">
								<h2>Aliquam ipsum purus dolor</h2>
								<p>Cras sagittis turpis sit amet est tempus, sit amet consectetur purus tincidunt.</p>
							</header>
							<div class="flex flex-3">
								<div class="col align-center">
									<div class="image round fit">
										<img src="images/pic03.jpg" alt="" />
									</div>
									<p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet. </p>
									<a href="#" class="button">Learn More</a>
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="images/pic05.jpg" alt="" />
									</div>
									<p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet. </p>
									<a href="#" class="button">Learn More</a>
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="images/pic04.jpg" alt="" />
									</div>
									<p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet. </p>
									<a href="#" class="button">Learn More</a>
								</div>
							</div>
						</div>
					</section> -->

			</div>

		<!-- Footer -->
		<footer id="footer">
			<div class="copyright">
				<ul class="icons">
					<li><a href="https://twitter.com/blazefugina?lang=en" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="https://github.com/blaze90809" class="icon fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="https://www.linkedin.com/in/blaze-fugina" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
				</ul>
				<p>Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
			</div>
		</footer>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/jquery.scrollex.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>

	</body>
</html>